*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.register__container{
    width: auto;
    border: solid;
    border-width: 1px;
    border-color: lightslategray;
    border-radius: 5px;
    padding: 10px;
}
.all__input{
    margin: 20px;    
}