*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login__container{
    width: 80%;
    border: solid;
    border-width: 0.1px;
    border-color: lightslategray;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 3px 4px 17px 0px rgba(0,0,0,0.61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.register__container{
    width: 100%;
}
.button{
    margin: 20px;
}